// Import Vuetify styling
@import 'variables';
@import 'controls';
html,body
{
	padding: 0;
	margin: 0;
	height: 100%;
}
body
{
	font-size: 16px;
	font-family: $accent-font;
	font-weight: $regular;
	color: $accent;
	background-color: $light-gray;
	line-height: 1.5;
	overflow-x: hidden;
}
*
{
	box-sizing: border-box;
	outline: none;
}
a
{
	color: $accent;
}
table
{
	border-collapse: collapse;
}
th
{
	font-weight: $medium;
	text-align: left;
	font-size: 14px;
}
td
{
	font-weight: $light;
	font-size: 14px;
}
p
{
	margin-top: 0;
}
.def-link
{
	color: $accent;
	text-decoration: none;
	border-bottom: 1px solid $main;
	padding-bottom: 2px;
	transition: background-color 0.2s;
	&:hover
	{
		border-color: $accent;
	}
}
.container
{
	max-width: 1400px;
	padding-left: $container-gut;
	padding-right: $container-gut;
	margin-left: auto;
	margin-right: auto;
}
.header-wr
{
	position: relative;
	z-index: 20;
}
.page-content
{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.dashboard-header-wr
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
}
.dashboard-header__left
{
	font-size: 24px;
	color: $accent;
}

.header-content,
.header-ext-link-wr
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-content
{
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: flex-end;
}
.header__left
{
	display: flex;
	align-items: flex-end;
}
.header__right
{
	display: flex;
	flex: 1;
	align-items: center;
	// justify-content: space-between;
}
.header-wr
{
	box-shadow: 0px 1px 10px rgba(205, 205, 205, 0.25);
	background-color: #fff;
	position: sticky;
	top: 0;
}
.header-logo
{
	line-height: 0;
	margin-right: 25px;
}
.header-ext-link-wr
{
	display: inline-flex;
	text-decoration: none;
	color: $accent;
	justify-content: flex-end;
	height: 38px;
	// margin-right: 50px;
}
.header-ext-link__text
{
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	margin-right: 10px;
}
.header-ext-link__icon
{
	line-height: 0;
	svg
	{
		max-width: 22px;
		path
		{
			fill: #fff;
		}
	}
}



.pages-header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
}
.pages-header
{
	font-size: 28px;
	color: $accent;
}
.pages-message
{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.pages-form-wr
{
	padding-bottom: 60px;
}
.pages-form-groups
{
	display: flex;
	justify-content: space-between;
}
.pages-form-group
{
	margin-bottom: 20px;
}
.pages-form-group-label
{
	margin-bottom: 10px;
}
.pages-form-group-item
{
	margin-bottom: 15px;
	&:last-child
	{
		margin-bottom: 0;
	}
}
.pages-form-groups__item
{
	flex-basis: calc(50% - 17px);
}
.pages-form-groups-field-wr
{
	margin-bottom: 16px;
	&:last-child
	{
		margin-bottom: 0;
	}
}
.pages-form-groups-field-wr_select-mode
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.btn
	{
		margin-left: 15px;
	}
}
.pages-form-actions
{
	display: flex;
	justify-content: flex-end;
	padding-top: 40px;
}
.pages-form-actions__item
{
	margin-left: 20px;
	&:first-child
	{
		margin-left: 0;
	}
}

.main
{
	display: flex;
	justify-content: space-between;
	// align-items: flex-start;
	margin-top: 16px;
}
.sidebar-wr,
.content
{
	background-color: #FFFFFF;
}
.sidebar-wr
{
	// height: calc(100vh - 106px);
	flex-basis: 19%;
	flex-shrink: 1;
}
.sidebar-content
{
	position: sticky;
	top: 100px;
}
.content-wr
{
	max-width: 59%;
	flex: 1;
	min-height: calc(100vh - 106px);
}
.content
{
	margin-left: 16px;
	margin-right: 16px;
	min-height: 100%;
	min-height: 100vh;
	flex: 1;
	overflow-x: hidden;
}
.content_popup
{
	background-color: transparent;
}
.sidebar-nav-item
{
	display: flex;
	align-items: center;
	padding-left: 24px;
	height: 50px;
	color: $main;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	transition: 0.2s;
	position: relative;
	&:before
	{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		height: 100%;
		width: 2px;
		background-color: transparent;
		transition: 0.2s;
	}

	&.nuxt-link-exact-active
	{
		color: $accent;
		&:before
		{
			background-color: $blue;
		}
	}
}

.sidebar-nav-group__label
{
	padding-left: 24px;
	display: flex;
	align-items: center;
	min-height: 50px;
	cursor: pointer;
}
.sidebar-nav-group__label-icon
{
	line-height: 0;
	margin-top: 1px;
	margin-right: 10px;
}
.sidebar-nav-item_sub
{
	padding-left: 40px;
	height: 35px;
}
.sidebar-nav-mob-actions
{
	display: none;
}

.edit-field
{
	max-width: 20px;
	height: 20px;
	max-width: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.edit-field
{
	background-image: url('../../assets/icons/edit.svg');
	background-size: 80%;
}

@media (max-width: $tablet)
{
	.header-logo
	{
		svg
		{
			height: 50px;
			width: auto;
		}
	}
	.header-ext-link-wr
	{
		height: 34px;
	}

	.main
	{
		position: relative;
	}
	.content-wr
	{
		flex: 1;
		margin: 0;
		max-width: 100%;
		margin-left: 40px;
		overflow-x: hidden;
		margin-right: -15px;
		padding-right: 15px;
	}
	.content
	{
		width: 100%;
		transition: 0.2s;
		margin: 0;
		&.move-content
		{
			transform: translateX(250px);
		}
	}
	.sidebar-wr
	{
		position: absolute;
		transform: translateX(-100%);
		height: 100%;
		width: 235px;
		top: 0;
		left: 0;
		transition: 0.2s;
		&.move-sidebar
		{
			transform: translateX(20px);
		}
	}
	.sidebar-nav
	{
		display: none;
		&.showed
		{
			display: block;
		}
	}
	.sidebar-wr_secondary
	{
		display: none;
		&.showed
		{
			display: block;
		}
	}
	.sidebar-nav-item
	{
		height: 40px;
		font-size: 14px;
	}
	.sidebar-nav-mob-actions
	{
		display: block;
		position: absolute;
		right: -40px;
	}
	.sidebar-nav-mob-action
	{
		width: 30px;
		height: 30px;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		margin-bottom: 10px;
		transition: 0.2s;
		position: relative;
		&:before
		{
			position: absolute;
			content: '';
			height: 100%;
			width: 120%;
			top: 0;
			right: 0;
			background-color: #fff;
			z-index: -1;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			transition: 0.2s;
			opacity: 0;
		}
		&.active
		{
			box-shadow: none;
			&:before
			{
				opacity: 1;
				transform: translateX(-26px);
			}
		}
		&:last-child
		{
			margin-bottom: 0;
		}
	}
	.sidebar-nav-mob-action
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sidebar-nav-mob-action__burger
	{
		flex-direction: column;
		.sidebar-nav-mob-action__chart
		{
			border-bottom: 2px solid #0492F2;
			min-width: 14px;
			margin-bottom: 3px;
			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
	.sidebar-nav-mob-action__more
	{
		.sidebar-nav-mob-action__chart
		{
			width: 3px;
			height: 3px;
			background-color: #0492F2;
			border-radius: 100%;
			margin-right: 2px;
			&:last-child
			{
				margin-right: 0;
			}
		}
	}
}

@media (max-width: $mobile)
{
	.header-logo
	{
		margin-right: 20px;
		svg
		{
			height: 28px;
		}
	}
	.sidebar-wr
	{
	}
	.page-content
	{
		padding: 14px;
	}
	.header-ext-link-wr
	{
		padding: 5px;
		justify-content: center;
		height: 28px;
	}
	.header-ext-link__text
	{
		font-size: 12px;
	}
	.header-ext-link__icon
	{
		img
		{
			width: 16px;
		}
	}
}