.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.btn
{
  @include inpres;

	display: flex;
	justify-content: center;
	align-items: center;
  box-shadow: none;
  min-width: 150px;
  background: $blue none;
  color: #fff;
	transition: 0.2s;
	font-size: 16px;
	border-radius: 4px;
	height: 42px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;

	&:hover
	{
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	}

	&:disabled
	{
		background-color: $dark-gray;
		pointer-events: none;
	}
}

.btn_small
{
	font-size: 14px;
	min-width: 90px;
	height: 35px;
}

.btn_skin
{
	background-color: #fff;
	color: $blue;
	border: 1px solid $blue;

	&:disabled
	{
		background-color: #fff;
		pointer-events: none;
	}
}

.btn_accent
{
	background-color: $blue;
}

.btn_red
{
	background-color: transparent;
	color: $red;
	border: 1px solid $red;

	&:disabled
	{
		background-color: #fff;
		opacity: 0.5;
	}
}

.checkbox-label-wr
{
	display: inline-flex;
	line-height: 0;
	align-items: center
}

.label-text
{
	padding-left: 8px;
}
