/*  Переменные со шрифтами  */
$accent-font: 'Rubik', sans-serif;

/*  Переменные с гарнитурами шрифтов  */
$light: 300;
$regular: 400;
$medium: 500;
$bold: 900;

/*  основные цвета  */
$main: #62677D;
$accent: #292F44;
$blue: #0492F2;
$green: #00C383;
$dark-gray: #E1EEF6;
$light-gray: #F9FAFC;
$red: #FF6F79;
$container-gut: 15px;

/* разрешния для медиазапросов */
$tablet: 980px;
$mobile: 767px;
