// Import Vuetify styling
@import 'variables';
@import 'controls';

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: #f3f3f3;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
html,
body
{
	padding: 0;
	margin: 0;
	height: 100%;
}
body
{
	font-size: 14px;
	font-family: $accent-font;
	font-weight: $regular;
	color: $accent;
	background-color: $light-gray;
	line-height: 1.3;
}
*
{
	box-sizing: border-box;
	outline: none;
}
a
{
	color: $accent;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba($accent, 0.2);
	transition: 0.2s;
	&:hover
	{
		border-color: $accent;
	}
}
p
{
	margin-top: 0;
	margin-bottom: 12px;
	&:last-child
	{
		margin-bottom: 0;
	}
}
table
{
	border-collapse: collapse;
}
th
{
	font-weight: $medium;
	text-align: left;
	font-size: 14px;
}
td
{
	font-weight: $light;
	font-size: 14px;
}
h2
{
	font-size: 18px;
	color: $accent;
	line-height: 1;
	margin: 0;
}
.def-link
{
	color: $accent;
	text-decoration: none;
	border-bottom: 1px solid $main;
	padding-bottom: 2px;
	transition: background-color 0.2s;
	&:hover
	{
		border-color: $accent;
	}
}
.container
{
	max-width: 1200px;
	padding-left: $container-gut;
	padding-right: $container-gut;
	margin-left: auto;
	margin-right: auto;
}
.header-wr
{
	position: relative;
	z-index: 20;
}
.page-content
{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.dashboard-header-wr
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
}
.dashboard-header__left
{
	font-size: 24px;
	color: $accent;
}

.fade-enter {
  max-height: 0px;
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.3s ease;
}

.fade-enter-to {
  max-height: 1000px;
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  max-height: 1000px;
}

.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-leave-to {
  opacity: 0;
  max-height: 0px;
}

.list-enter-active, .list-leave-active {
  transition: all 0.2s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}